[workspace]
authors = ["Vladislav Shlenskii <vhollav@gmail.com>"]
channels = ["conda-forge"]
description = "Advent of Code Solutions"
name = "aoc"
platforms = ["osx-arm64", "linux-64"]
version = "0.1.0"

[tasks]
santa = { description = "Let Santa work", cmd = "pixi run python -m santa" }

[feature.python.dependencies]
python = "3.13.*"
typer = ">=0.20,<0.21"
loguru = ">=0.7.2,<0.8"
tomli-w = "*"
uv = "*"

[feature.go.dependencies]
go = "1.25.*"

[feature.cpp.dependencies]
clangxx = "20.*"
libcxx = "20.*"
lld = "20.*"

[feature.rust.dependencies]
rust = ">=1.90.0,<1.91.0"
rust-src = "*"

[environments]
default = ["python"]
python = ["python"]
go = ["python", "go"]
cpp = ["python", "cpp"]
rust = ["python", "rust"]
all = ["python", "go", "cpp", "rust"]
